<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
  <nav>
    <%- include('../partials/navbar') %>
  </nav>
  <main>
    <h4 id="searchResults">Search Results</h4>

    <% searchResults.forEach(book => { %>
      <div class="booksDiv">
        <p><img src="<%= book.imageURL %>"></p>
        <p>
          <%= book.title %>
        </p>
        <p>
          <%= book.authorsArray %>
        </p>
        <p class="description">
          <%= book.description %>
        </p>
      </div>
      <% }); %>
  </main>
</body>

</html>