<% booksResponse.booksArray.forEach(book => { %>
    <form action="/searches/save_idput" method="post" _method="put" id="<%=book.isbn%>" class="bookForm">
      <img src="<%= book.image_url %>">
      <input type="text" name="saveBook" value="<%= book.title %>" required>
      <input type="text" name="saveBook" value="<%= book.author %>" required>
      <input type="text" name="saveBook" value="<%= book.description %>" required >
      <input type="hidden" name="saveBook" value="<%= book.image_url %>" required>
      <input type="text" name="saveBook" value="<%= book.isbn %>" required>
      <input type="hidden" name="saveBook" value="" placeholder="bookshelf" required>
      <select name="saveBook">
          <% booksResponse.bookshelfArray.forEach(bookshelf  => { %>
            <option><%= bookshelf %></option>    
            <%  });%>        
        </select>
        <button type="submit">Update in bookshelf</button>
    </form>
    <form action="/searches/delete" method="post" _method="delete"></form>
    <% }); %>